rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /submissions/{docId} {
      allow read: if docId == request.query.urlName; // Lê somente se o docId for igual ao urlName
      allow write: if true;
    }
  }
}